<?xml version="1.0"?>
<!DOCTYPE wml PUBLIC "-//WAPFORUM//DTD WML 1.1//EN" "http://www.wapforum.org/DTD/wml_1.1.xml">
<wml>
  <card id="{CMS_CURRFILE}" title="{CMS_PAGETITLE}">
    <p>
    {CMS_TOPNAV}
    </p>
    <p>
      <small>
      {CMS_CONTENT1}
      {CMS_CONTENT2}
      </small>
    </p>
    <p>
      <small>
        <b>Links:</b><br />
        {CMS_NAV}
      </small>
    </p>
  </card>
</wml>
